body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header p{
    font-size: xx-large;
}

canvas{
    max-height: 400px;
    max-width: 100%;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}